<!DOCTYPE html>
<html>
<head>
  <title>General Ledger</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link href="/dist/semantic.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/images/logo.png"/>
  <style>

    .form-holder {
      background: rgba(255,255,255,0.2);
      margin-top: 10%;
      border-radius: 3px;
    }



    .remember-me {
      text-align: left;
    }
    .ui.checkbox label {
      color: #ddd;
    }

  </style>
</head>
<body style="height: 100%">
<script type="text/javascript" src="/dist/jquery.min.js"></script>
<script type="text/javascript" src="/dist/semantic.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<meta charset="utf-8">
<meta name="_token" content="{{ csrf_token() }}">
<div class="ui container" style="width: 100% ;height: 100%;padding-left:5%;padding-right: 5% ">
  <div class="ui secondary pointing menu" style="padding: 5px" >

    <div class="left menu">

    </div>
    <div class="right menu">
      <a class="item" href="users/logout/action">Logout</a>
    </div>
  </div>

  <div class="ui container">
    <br>
    <div  class="ui grid" >
      <div id="searchmanual" class="three wide column ui form" >
        <div class="field">
          <div class="fields">
            <div class="field">
              <label>Pilih Tanggal</label>
              <div class="ui calendar" id="TanggalMulai">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Tanggal">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label id="lbltotalTransaksi"></label>
    <table class="ui celled padded table" id="TabelTransaksi">

    </table>
  </div>

</div>


<script type="text/javascript">
    $(document).ready(function(){
        let tanggal ;
        let jamawal ;
        let jamakhir ;
        let deviceidawal;
        $('#TanggalMulai').calendar({
            type: 'date',
            onChange: function (date, text) {
                let day=date.getDay();
                day++;
                let month=date.getMonth();
                month++;
                let year=date.getYear();
                year=year+1900;
                tanggal = day+"/"+month+"/"+year;
                console.log(tanggal);
                onclick_search();
            },
        });


        function LoadTabelTransaksi(Data) {
            $("#TabelTransaksi tr").remove();
            var table = document.getElementById("TabelTransaksi");
            var thead, tr, td;
            table.appendChild(thead = document.createElement("thead"));
            thead.appendChild(tr = document.createElement("tr"));
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "No";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Barang";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Harga";

            var count=1;
            if(Data.length>0){
                let hargaTotal=0
                for (var j=0;j<Data.length;j++){
                    let hargaSatuan=parseInt(Data[j].harga);
                    hargaTotal=hargaSatuan+hargaTotal;
                    tr = document.createElement("tr");
                    tr.setAttribute("id", "row" + j);
                    if (j%2 == 0)
                    {
                        tr.setAttribute("style", "background:white");
                    }
                    table.appendChild(tr);
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =count;
                    if(parseInt(Data[j].flag)===0){
                        tr.appendChild(td = document.createElement("td"));
                        td.innerHTML =Data[j].nama;
                    }else {
                        var img = document.createElement("IMG");
                        img.src = Data[j].nama;
                        tr.appendChild(img);
                    }
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =hargaSatuan;
                    count++;
                }
                document.getElementById('lbltotalTransaksi').innerHTML = "Total Transaksi Anda pada Tanggal "+tanggal+" Adalah : "+hargaTotal;

            }
        }
        $("#submit1").on("click", onclick_search);

        function onclick_search() {
            $.post('/transaction/recap',{ idPengguna: "<%= Session._id %>", tanggal: tanggal },
                function(data) {
                    console.log(data)
                    LoadTabelTransaksi(data.transactionRecap);

                }
            );
        }

    });


</script>
</body>
</html>
